@font-face{
    font-family: 'BallparkWeiner';
    src: url('../fonts/ballpark.eot');
    src: url('../fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ballpark.woff') format('woff'),
         url('../fonts/ballpark.ttf') format('truetype'),
         url('../fonts/ballpark.svg#ballpark') format('svg');
}

@font-face{
    font-family: 'dayrom';
    src: url('../fonts/dayrom.eot');
    src: url('../fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dayrom.woff') format('woff'),
         url('../fonts/dayrom.ttf') format('truetype'),
         url('../fonts/dayrom.svg#dayrom') format('svg');
}

/* global */
body {
    margin: 0;
    padding: 0;
    background-image: url('../../donkeyPage/images/fond_jaune.png');
}

#main-section {
    width: 80%;
    margin: auto;
}

h1, h2 {
    color: rgb(98, 98, 98);
}

p {
    color: rgb(98, 98, 98);
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background: url('../../donkeyPage/images/separateur.png') repeat-x bottom;
    align-items: flex-end;
}

header h3 {
    font-family: 'dayrom', sans-serif;
}

#logo-container {
    display: flex;
    align-items: flex-start;
}
#logo-container > h1 {
    font-family: 'BallparkWeiner', sans-serif;
}


header h1{
    margin-bottom: 0;
    color: black;
}

header h3 {
    margin-top: 0;
    color: rgb(98, 98, 98);
}

nav {
    width: 40%;
    height: 66px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 10px;
    font-size: 20px;
    color: rgb(98, 98, 98);
}

nav li:hover {
    color: rgb(109, 15, 15);
    border-bottom: 3px solid rgb(109, 15, 15);
    cursor: pointer;
}

/* content */
#content-section {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

#content-title {
    display: flex;
    padding: 0 10px 0 10px;
}

#content-title h1 {
    margin-left: 10px;
}

article {
    width: 75%;
    padding-right: 15px;
}

article #paragraph-link {
    color: red;
}

aside {
    width: 25%;
    padding: 10px;
    position: relative;
}

#grey-arrow {
    position: absolute;
    top: 100px;
    left: -11px;
}

#aside-section {
    background-color: rgb(100, 100, 100);
    border-radius: 8px;
}

#aside-section p {
    color: rgb(194, 194, 194);
}

#aside-section h1 {
    color: rgb(194, 194, 194);
}

#image-donkey {
    display: flex;
    justify-content: center;
}

#image-icons {
    display: flex;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    background:  url('../../donkeyPage/images/ico_top.png') no-repeat  top center, url('../images/separateur.png') repeat-x top ;
    padding-top: 20px;
}

footer #up-arrow {
    height: 20%;
}

#footer-card3 {
    width: 22%;
}
#column-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding-bottom: 10px
}

.column {
    padding : 0;
}

.column li {
    color: red;
    list-style: none;
}

/* tables */
table{
    border-collapse: collapse;
    text-align: center;
}
td, th { 
    border : 1px solid black;
}
th {
    padding: 10px;
}

.table-row {
    background-color: #dfc598;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 10px;
}

form p {
    color: black;
}

#address-select {
    display: flex;
    flex-direction: row;
}

:required {
    border: 1px solid red;
}

label {
    display: inline-block;
    vertical-align: top;
}
